.github-profile-badge-name-wrapper {
    background: purple !important;
}

.builder-btn {
    background-color: #D79935 !important;
    border: 1px solid #414c7b !important;
    color: #fff !important;
}